body {
	background: Cornsilk;
}

h1 {
padding: 3%;
	text-align: center;
}

.ingredients {
	margin-left: 5%;
}


.instructions {
	margin-right: 5%;
	width: 90%;
}


 
.Image {
	height: 80%;
	width: 90%;
	margin-left: 3%;
	object-fit: scale-down;
}


.grid {
	display: grid;
	grid-template-columns: auto auto auto;
	column-gap: 2%
}

.VideoLink {
/* 	margin: 0.5% */
	padding: 0.5%;
	float: right;
	background-color: white;
	text-align: center;
	text-shadow: black;
	border: solid black;
	color: black;
	display: inline-block;
}


.Video {
	margin-left: 15%;
	  max-width: 370%;
	width: 380%; 
	height: 300%;
}