body {
	background: Cornsilk;
}

h1 {
padding: 3%;
	text-align: center;
}

.ingredients {
	margin-left: 5%;
}


.instructions {
	margin-right: 5%;
	width: 90%;
}


 
.Image {
	height: 80%;
	width: 90%;
	margin-left: 3%;
	object-fit: scale-down;
}

.FadeImage {
padding: 1.5%;
	width: 25%;
	object-fit: scale-down;
	display: none;
	float: right;
}


.grid {
	display: grid;
	grid-template-columns: auto auto auto;
	column-gap: 2%
}

.VideoLink {
/* 	margin: 0.5% */
	padding: 0.5%;
	float: right;
	background-color: white;
	text-align: center;
	text-shadow: black;
	border: solid black;
	color: black;
	display: inline-block;
}


.Video {
	margin-left: 15%;
	  max-width: 370%;
	width: 380%; 
	height: 300%;
}

#panel, #dropDown {
	text-align: center;
	background-color: wheat;
	border: solid 1px black;
}

#dropDown {
	display: none;
}

#HomeImage{
	width: 50%;
	object-fit: scale-down;
}

#HomePageButton {
	background-color: hotpink;
	position: absolute;
}

#HomePageButton:hover {
	background-color: red;
}

#HomePageButton:active {
	background-color: lime;
}
